<head>
  {% block stylesheetsCSS %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
  {% endblock %}
</head>
{{ include("GSBPraticienBundle:Head:head.html.twig") }}
{{ include("GSBPraticienBundle:Menu:menu.html.twig") }}


{{ form_start(form)}}
  <div class="form-group col-md-2">

    {{ form_label(form.typCode, 'Type code')}}
    {{form_widget(form.typCode,{'attr':{'class':'form-control'}})}}


    {{ form_label(form.praNom, 'Nom')}}
    {{form_widget(form.praNom,{'attr':{'class':'form-control'}})}}
 

    {{ form_label(form.praAdresse, 'Adresse')}}
    {{form_widget(form.praAdresse,{'attr':{'class':'form-control'}})}}


    {{ form_label(form.praCP, 'CP')}}
    {{form_widget(form.praCP,{'attr':{'class':'form-control'}})}}


    {{ form_label(form.praVille, 'Ville')}}
    {{form_widget(form.praVille,{'attr':{'class':'form-control'}})}}


    {{ form_label(form.coefnotoriete, 'Coef notoriété')}}
    {{form_widget(form.coefnotoriete,{'attr':{'class':'form-control'}})}}
    <br>
    <button type="submit" class="btn btn-default">Ajouter</button>
  </div>

{{form_rest(form)}}

{{ form_end(form)}}

<div>
  {% block stylesheetsJS %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
  {% endblock %}
</div>