<div id="tabs-1" class="tab-content current">
	<table class="responstable" align="center">

<form action ="index.php?uc=GestionPraticiens&action=supprimer" method="POST">
		<input type="submit" value="Supprimer"/>

		<div class="btn-ajout">
		<a href="">Ajouter</a>
		</div>

			<thead>
				<tr>
					<th>Id</th>
					<th>Nom</th>
					<th>Adresse</th>
					<th>Code Postal</th>
					<th>Ville</th> 
					<th>Coefficient</th>
					<th>typCode</th>		    
					<th>Action</th>
	  			</tr>
			</thead>
			<tbody>
				{% for praticien in listePraticiens %}
				<tr>
					<td>{{praticien.getPraNum()}}</td>
					<td>{{praticien.getPraNom()}}</td>
					<td>{{praticien.getPraAdresse()}}</td>
					<td>{{praticien.getPraCP()}}</td>
					<td>{{praticien.getPraVille()}}</td>
					<td>{{praticien.getCoefnotoriete()}}</td>
					<td>{{praticien.getTypCode()}}</td>
					<td> Modifier</td>
        		</tr>
				{% endfor %} 
			</tbody>

     </form>
	</table>	
</div>