<div id="tabs-1" class="tab-content current">
	<table class="responstable" align="center">

<form action ="index.php?uc=GestionPraticiens&action=supprimer" method="POST">
		<input type="submit" value="Supprimer"/>

		<div class="btn-ajout">
		<a href="index.php?uc=GestionPraticiens&action=ajouter"><img src="images/ajouter.jpg" style="height: 35px; width: 100px; border: 2px solid; border-radius: 10px; margin-bottom: 50px"/></a>
		</div>

			<tbody>
				<tr>
					<th>Id</th>
					<th data-th="Driver details"><span>Nom</span></th>
					<th>Adresse</th>
					<th>Code Postal</th>
					<th>Ville</th> 
					<th>Coefficient</th>
					<th>typCode</th>		    
					<th>Action</th>
	  			</tr>
			</tbody>
			<thead>
				{% for praticien in listePraticiens %}
				<tr>
					<th>{{praticien.Pra_Num}}</th>
					<td>{{praticien.Pra_Nom}}</td>
					<td>{{praticien.Pra_Adresse}}</td>
					<td>{{praticien.Pra_CP}}</td>
					<td>{{praticien.Pra_Ville}}</td>
					<td>{{praticien.Coefnotoriete}}</td>
					<td>{{praticien.typCode}}</td>
					<td>
						<a href='index.php?uc=GestionPraticiens&action=modifier&Pra_Num=<?php echo $idPrat;?>'><img src="images/btn_modifier_inactif.gif" style="height: 35px; border: 1px solid; border-radius: 10px; margin: 10px; width: 40px;"/></a></td>
					</td>
        		</tr>
				{% endfor %} 
			</thead>

     </form>
	</table>	
</div>